body {
    overflow:auto;
}

h1 {
    margin:0px 0px 15px 0px;
    text-align:center;
}

table {
    border-collapse:collapse;
    border:5px solid #ccc;
}

td {
    font-size:0em;
    border:1px solid;
    padding:0px;
}

td.live {
    background-color:#ccc;
}

td.dead {
    background-color:#fff;
}

table, .toggle, #prefabs, #controls{
    -moz-user-select: none;
     -khtml-user-select: none;
     -webkit-user-select: none;
     user-select: none;
}


textarea#stringarea {
    width:150px;
    height:5em;
    word-break:break-all;
}

#sidebar {
    float:left;
    position:relative;
    font-size:.8em;
    width:200px;
    margin-right:20px;
}

#prefabs {
    margin-bottom:5px;
    padding:10px 5px;
    float:right;
}
.prefab {
    display:inline;
    border:1px solid;
    padding:5px;
}


#thegame {
    overflow:visible;
    width:1000px;
}
#thegame table.running {
    border-color:green;
}

.collapsiblesection {
    position:relative;
}

.collapsiblesection h2 {
    font-size:1.2em;
    margin:0px 0px 0px 20px;

}

.collapsiblesection > .toggle {
    width:16px;
    min-height:16px;
    background-image:url('minusbox.png');
    position:absolute;
    top:0px;
}

.toggle, .prefab {
    cursor:pointer;
}

.slidelabel {
    position:absolute;
    top:-1.6em;
    font-size:90%;
}

.group {
    margin:0px 0px 10px 18px;
    border:1px solid #ccc;
    padding:5px;
}

.group > .group {
margin:0px;
}

.group  p{
    margin:3px 0px;
}

#controls {
   display:block;
   float:left;
   margin-bottom:4px;
}

#controls #buttonholder {
    float:left;
}

#controls button {
}

#slider {
    width:200px;
    min-height:3px;
    border:1px solid;
    background-color:#eee;
    float:left;
    position:relative;
    top:12px;
    left:20px;
}

#slider #speedcontrol {
    width:15px;
    height:15px;
    position:absolute;
    top:-7px;
    left:89px;
    border:1px solid;
    background-color:#ccc;
}

#slider #speedcontrol {
    cursor:pointer;
}

#slider #slowlabel {
    left:-1em;
}

#slider #mediumlabel {
    left:75px;
}

#slider #fastlabel {
    right:-1em;
}




